<div class="container pt-5">

  <h4 class="feature-title">Chef Management</h4>
  <hr>

  <ng-template #content let-modal>
    <div class="modal-header" style="text-align: center;">
      <h4 class="modal-title" id="modal-basic-title">Add a new chef</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="chefForm">
        <div class="form-group">
          <label for="FirstName">First Name :</label>
          <input type="text" formControlName="fname" class="form-control" placeholder="First name" id="FirstName"
                 [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
          <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
            <div *ngIf="f.fname.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="LastName">Last Name :</label>
          <input type="text" formControlName="lname" class="form-control" placeholder="Last name" id="FirstName"
                 [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
          <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
            <div *ngIf="f.lname.errors.required">Last Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="Location">Location :</label>
          <input type="text" formControlName="location" class="form-control" placeholder="Location" id="FirstName"
                 [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
          <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
            <div *ngIf="f.location.errors.required">Location is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="PhoneNumber">Phone Number :</label>
          <input type="text" formControlName="PhoneNumber" class="form-control" placeholder="Phone Number"
                 id="PhoneNumber" [ngClass]="{ 'is-invalid': submitted && f.PhoneNumber.errors }">
          <div *ngIf="submitted && f.PhoneNumber.errors" class="invalid-feedback">
            <div *ngIf="f.PhoneNumber.errors.required">PhoneNumber is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="NICNumber">NIC Number :</label>
          <input type="text" formControlName="NICNumber" class="form-control" placeholder="NIC Number" id="NICNumber"
                 [ngClass]="{ 'is-invalid': submitted && f.NICNumber.errors }">
          <div *ngIf="submitted && f.NICNumber.errors" class="invalid-feedback">
            <div *ngIf="f.NICNumber.errors.required">NIC is required</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-danger btn-small" style="width: 80%;" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">Cancel</span>
            </button>
          </div>
          <div class="col">
            <div class="form-group">
              <button type="button" class="btn btn-success btn-small" style="width: 80%;" (click)="onSubmit()">Save
              </button>
            </div>
          </div>
        </div>


      </form>
    </div>
  </ng-template>
  <ng-template #delete let-modal>
    <div class="modal-header" style="background-color: #838181;color: #ffffff;">
      <h6 class="modal-title">Attention</h6>
    </div>
    <div class="modal-body">
      <h6>Do you really want to delete this chef?</h6>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-danger btn-small" style="width: 80%;" aria-label="Close"
                  (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">Cancel</span>
          </button>
        </div>
        <div class="col">
          <div class="form-group">
            <button type="button" class="btn btn-success btn-sm" style="width: 80%;"
                    (click)="modal.close('Save click')">Delete
            </button>
          </div>
        </div>
      </div>
    </div>

  </ng-template>

  <div>

    <div class="row p-2">
      <div class="col-auto mr-auto">
        <h4 style="font-weight: lighter">Manage Cooks</h4>
      </div>
      <div class="col-auto">
        <button class="btn btn-sm btn-success"
                (click)="open(content)">+ Add Chef
        </button>
      </div>
    </div>

    <hr>

    <!-- Chef card-->
    <div>
      <div class="row no-gutters">
        <div class="col-3 p-2" *ngFor="let chef of chefs">

          <div class="card chef">
            <!-- Delete -->
            <i class="fas fa-trash-alt"
               style="color:orangered;padding: 1rem;size: 6ex;cursor: pointer;"
               (click)="openConfirmationDialog(chef.id)">
            </i>

            <div class="card-body" style="text-align: center;">
              <img class="imgchef" src="../../assets/chef1.png" width="92px" height="92px" alt="dp">
              <div class="card-text" style="font-weight: bold;">
                {{ chef.name }}
                <p style="color: #838181;font-size: .9rem;">{{chef.location}}</p>

                <div class="row">
                  <div class="col-6">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <h6>Total orders</h6>
                      </div>
                      <div class="col-12">
                        <hr>
                      </div>
                      <div class="col-12">
                        <p>{{chef.orders}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <h6>Active Months</h6>
                      </div>
                      <div class="col-12">
                        <hr>
                      </div>
                      <div class="col-12">
                        <p>02</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

