<div class="container pt-5">
  <div class="row text-center">

    <div class="col-4 text-center">
      <p class="round">{{numberOfChef}}</p>
      <br>
      <p class="h5">Total Number of <b>Chefs</b></p>
    </div>

    <div class="col-4 ">
      <div class="round">{{numberOfUser}}</div>
      <br>
      <p class="h5">Total Number of <b>Users</b></p>
    </div>

    <div class="col-4 ">
      <div class="round">{{numberOfOrder}}</div>
      <br>
      <p class="h5">Total Number of <b>Orders</b></p>
    </div>

  </div>
</div>
