<br>
<br>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="round">170</div><br>
                <div style="font-weight: bold;text-align: center;">Forecasted Number of<p>Chef</p></div>
            </div>
            <div class="col">

            </div>
        </div>
        
        
    </div>
    <div class="col">

        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="round">240</div><br>
                <div style="font-weight: bold;text-align: center;">Forecasted Number of<p>Users</p></div>
            </div>
            <div class="col">

            </div>
        </div>

        
        
    </div>
    <div class="col">

        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="round">289</div><br>
                <div style="font-weight: bold;text-align: center;">Forecasted Number of<p> Orders</p></div>
            </div>
            <div class="col">

            </div>
        </div>
        
    </div>
</div>

<br>
<br>


<div class="row">
    <div class="col">
      <div class="card" style="width: 80%;">
        <canvas id="barChartFood" >{{BarChart1}}</canvas>
      </div>
  
    </div>
    <div class="col">
      <div class="card"style="width: 80%;" >
        <canvas id="barChartChef">{{BarChart2}}</canvas>
      </div>
  
    </div>
  </div>