<div class="container pt-5">

  <h4 class="feature-title">Review Management</h4>
  <hr>

  <div class="card-deck">
    <div class="card" *ngFor="let chef of chefs">
      <div class="card-body">

        <div class="row">
          <div class="col-3">
            <img class="" src="{{chef.Img}}" width="72" height="72" alt="Card image cap">
          </div>
          <div class="col-9">
            <h5 class="card-title text-value-lg"><b>{{chef.name}}</b></h5>
            <h6 class="card-subtitle">Your Review</h6>
            <h6 style="font-size: 12px; font-weight: lighter; margin-top: .22rem">{{getDate()}}</h6>
          </div>
        </div>
        <hr>
        <p class="card-text">{{chef.admin_review ? chef.admin_review : "No Review Yet!"}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a [routerLink]="['reviewNlp',chef.id]">
            <button class="btn btn-sm btn-success" style="background-color: #22b573;">+ Add review</button>
          </a>
        </li>
      </ul>
      <div class="card-footer">
        <small>Your rating </small>
        <ngb-rating [(rate)]="currentRate" [readonly]="true" [max]="5"></ngb-rating>
      </div>
    </div>
  </div>

</div>
