/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.feature-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

.la {
  background-color: white;
  color: #22B573;
}
